.footerBase {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: var(--alturaFooter);

   background: var(--roxo);
   color: var(--cinza);
   text-align: center;
   font-size: .8125rem;

   z-index: 100;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}

.texto {
   margin: 0 0 .669375rem 0; 
   font-weight: 400;
}

.texto .span {
   font-weight: 700;
   font-size: .9375rem;
   margin: 0 .3rem;
}

.direitos {
   margin: 0;
}