.menu {
  width: 100%;
  height: auto;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3% 0 2.1%;

  background: var(--roxo);

  a {    
    height: var(--alturaLogo);
  }
}

.linksMenu a {
  margin: 0 .46875rem;

  font-family: 'Roboto', sans-serif;
  color: var(--cinza);
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;

  border: none;
  cursor: pointer;
}

.linksMenu a:focus {      
  outline: none;
}

.linksMenu a:first-child {
  margin: 0 .46875rem 0 0;
}

.linksMenu a:last-child{
  margin: 0 0 0 .46875rem;
}

.linksMenu a:hover {
  color: var(--laranja);
}

.linksMenu a:active {
  color: var(--laranja);
}

@media (max-width: 700px) {
  .iconButton {
    margin: 0;
    color: var(--cinza);
  }

  .linksMenu ul {
    background: var(--roxo);

    li {
      margin: 0;
      min-height: auto;
    }
  }
}

@media (max-width: 600px) {
  .menu a {    
    height: var(--alturaLogoMobile);
  }
}