.social {
  width: auto;
  height: auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2.25rem;
  bottom: 7.125rem;
}

.social .icon {
  width: 1.9rem;
  height: 1.9rem;
  margin: 1.125rem 0 0;

  color: var(--roxo);
}