.topico {
  position: relative;
  margin-bottom: 1.25rem;
  padding: 1.2rem 0;

  i {
    margin-right: .790625rem;
  }
}



//barra vertical
.topico::before {  
  content: '';
  position: absolute;
  width: 0.04rem;
  height: 100%;
  top: 0;
  left: -1.875rem;
  background-color: var(--roxo);
}