.topico {
  position: relative;
  margin-bottom: 1.25rem;
  padding: 1.2rem 0 1.2rem 2.1rem;
  border-left: 1px solid var(--roxo);

  i {
    margin-right: .8rem;
  }
}



//barra vertical
.topico::before {  
  content: '';
  z-index: 1;
  position: absolute;
  width: .875rem;
  height: .875rem;
  top: 1.7rem;
  left: -.5rem;
  background-color: var(--cinza);
  border-radius: 50%;
  border: 1px solid var(--roxo)
}

.topico::after {  
  content: '';
  position: absolute;
  width: 1.44rem;
  height: 1px;
  top: 2.156rem;
  left: 0rem;
  background-color: var(--roxo);
}