.topico {
  position: relative;
  margin-bottom: 1.25rem;
  padding: 1.2rem 0 1.2rem 2.1rem;
  border-left: 1px solid var(--roxo);

  i {
    margin-right: .8rem;
  }
}



//barra vertical
.topico::before {  
  content: '';
  z-index: 1;
  position: absolute;
  width: .875rem;
  height: .875rem;
  top: 1.7rem;
  left: -.5rem;
  background-color: var(--cinza);
  border-radius: 50%;
  border: 1px solid var(--roxo)
}

.topico::after {  
  content: '';
  position: absolute;
  width: 1.44rem;
  height: 1px;
  top: 2.156rem;
  left: 0rem;
  background-color: var(--roxo);
}

@media (max-width: 500px) {
  .topico {
    padding: 0.5rem 0 .5rem 2rem;
    
    i {
      margin-right: .6rem;
      font-size: 13px;
    }
  }

  .topico::before {
    width: .6875rem;
    height: .6875rem;
    top: .75rem;
    left: -.4rem;
  }

  .topico::after {
    width: 1.125rem;
    top: 1.15rem;
    left: 0rem;
  }
}