.mainCurriculo {
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
}

.cards {
  display: flex;

  .card:first-child {
    margin-right: 1.375rem;
  }

  .card {
    flex: 1;
    padding: 0 2.25rem;    
  }
}