.mainHome {
  padding: 0;
}

.texto {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  width: 100%; 
}

.texto h1 {
  font-size: 5.625rem;
  line-height: 1;

  margin: 2.75rem auto 1.125rem;
}

.texto h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1;
}

.texto h3 {
  font-weight: 200;
  font-size: 2.1875rem;
  text-align: center;
  letter-spacing: 0.15em; 
  line-height: 1;
}

@media (max-width: 550px) {
  .texto h1 {    
    margin: 1.5rem auto .6875rem;
    font-size: 4.1rem;
  }

  .texto h2 {    
    margin: 0 auto 1.55rem;
    font-size: 2rem;
  }

  .texto h3 {    
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .texto h1 {    
    margin: 1.5rem auto .6875rem;
    font-size: 3rem;
  }

  .texto h2 {    
    margin: 0 auto 1.5rem;
    font-size: 1.5625rem;
  }

  .texto h3 {    
    font-size: 1.125rem;
  }
}