.mainProjects {
  height: auto;
  
  margin-top: 4.3125rem;
  padding-bottom: calc(var(--alturaFooter) + 3.8125rem);
  
  h1 {
    margin: 0;
  }

  h3 {  
    display: flex;
    justify-content: center;
    text-align: center;

    font-weight: 300;
    letter-spacing: 0.05em;
  }

  section {
    margin: 6.25rem 0;
    padding: 1.25rem 0;

    h2 {
      text-align: start;
    }

    .project {
      display: flex;
      flex-direction: row;
      
      padding: 0 3.375rem;

      .description {
        width: 50%;
        margin: 0 1.5625rem 0 0;
    
        h3 {
          margin-bottom: 1.4375rem;
          justify-content: left;
          
          font-weight: 600;
          line-height: 1.9375rem;
        }
    
        p {
          margin-bottom: .5rem;

          font-family: 'IBM Plex Sans';
          color: var(--text);
          font-size: 1.125rem;
          line-height: 1.6875rem;
          font-style: normal;
          font-weight: 400;
        }
    
        a {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 0;
    
          font-family: 'IBM Plex Sans', sans-serif;  
          font-weight: normal;
          font-size: 1.125rem;
          line-height: 1.4375rem;
          text-decoration-line: underline;
    
          color: var(--roxo);
        }

        .tech {
          display: block;
          margin: 0.9rem 0 1rem;
        }
      }  
      
      .image {
        display: flex;
        align-items: center;      
        margin: 0 auto 0 1.5625rem;
    
        width: 50%;
    
        img {
          width: 100%;
        }
      }
    }
  }
    
  .carousel-control-prev {
    justify-content: start;
  } 
  
  .carousel-control-next {
    justify-content: end;
  }
}