.sobreMim {
   display: flex;
   position: absolute;
   top: 50%;
   transform: translate(0%, -50%);

   margin: auto;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.sobreMim img {
   width: auto;
   height: auto;   
   max-width: 40%;
   max-height: 100vh;
   margin: auto 0;
}

.sobreMim .texto {
   margin: auto 0 auto 3rem;
}

.sobreMim h1 {
   justify-content: flex-start;
   margin: 0 auto 1.75rem auto;
}

.sobreMim p:last-child {
   margin-bottom: 0;
}

@media (max-width: 850px) {
   .sobreMim img {
      display: none;
   }

   .sobreMim .texto {
      margin: auto 0;
   }
}