.sobreMim {
   display: flex;
   flex-direction: row;
   margin: 0vw;
   padding: calc(var(--alturaLogo) + 3.6875rem) 3.5625rem 3.6875rem;
}

.sobreMim img {
   width: auto;
   height: auto;
   max-width: 26.31625rem;
   max-height: 28.75rem;
}

.sobreMim .texto {
   margin: auto 0 auto 3rem;
   align-self: center;
}

.sobreMim h1 {
   margin: 0 auto .4375rem auto;
   font-family: 'IBM Plex Sans', sans-serif;
}

.sobreMim p {
   color: var(--text);
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 1.25rem;  
   margin-bottom: .8125rem;
   text-align: justify;
   font-weight: normal;

   display: flex;
   align-items: center;
}

.sobreMim p:last-child {
   margin-bottom: 0vw;
}