:root{
  --backgroundMenu: #515070;
  --backgroundPagina: #F6F6F6;
  --text: #3D3C3C;

  --cinza: rgb(246, 246, 246);
  --salmao: rgb(255, 187, 145);
  --laranja: rgb(255, 142, 110);
  --roxao: rgb(81, 80, 112); 


  --alturaLogo: 4.4375rem;
  --alturaFooter: 4.6875rem;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--backgroundPagina);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  color: var(--laranja);
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.04rem;
}

main {
  height: calc(100vh - var(--alturaLogo) - var(--alturaFooter));

  background-color: var(--backgroundPagina);
  margin-top: var(--alturaLogo);
  margin-bottom: var(--alturaFooter);
  padding-top: 3.6875rem;
  padding-left: 4.2%;
  padding-right: 4.2%;
}

@media (min-width: 1400px) {
  html {
    font-size: 106.25%; //17px
  }
}