@import url("./../../index.css");

.Menu{
    width: 100%;
    height: auto;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0vw 3% 0vw 2.1%;

    background: var(--backgroundMenu);
    /* offset-x | offset-y | blur-radius | spread-radius | color 
    box-shadow: 0px 10px 1vw 1px rgba(0, 0, 0, 0.2);*/
}

.Menu .logo{    
    height: var(--alturaLogo);
    margin: 0px;
}

a{
    color: var(--backgroundPagina);
    font-family: Roboto;
    font-size: 1.33vw;
    font-style: normal;   
    font-weight: 500;
    text-decoration: none;
    margin: 0vw .43vw;             
}

a:hover{
    color: var(--laranja);
}

@media (max-width: 800px) {
    .logo {
        max-width: 205px;
    }

    .Menu {
        justify-content: center;
    }

    body {
        padding-top: 40px;
    }
}