@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

.sobreMim{
    display: flex;
    flex-direction: row;
    margin: 0vw;
    /*  
    position: absolute;
    top: 50%;
    transform: translate(0, -43%);*/
}

.sobreMim img{
    width: auto;
    max-width: 45vw;
    max-height: 71vh;
}

h1{
    font-size: 2.2vw;
    margin: .6vw auto 1.5vw auto;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
}

.sobreMim .texto{
    margin: auto 0 auto 2vw;
    align-self: center;
}

.sobreMim p{
    color: #181818;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3vw;
    line-height: 2.2vw;
    text-align: left;
    margin-bottom: 1.2vw;
    text-align: justify;
}

.sobreMim p.primeiro{
    margin-top: 0vw;
}

.sobreMim p.ultimo{
    margin-bottom: 0vw;
}